<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Webster - Responsive Multi-purpose HTML5 Template" />
<meta name="author" content="potenzaglobalsolutions.com" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>Webster - Responsive Multi-purpose HTML5 Template</title>

<!-- Favicon -->
<link rel="shortcut icon" href="images/favicon.ico" />

<!-- font -->
<link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900">
<link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">

<!-- Plugins -->
<link rel="stylesheet" type="text/css" href="css/plugins-css.css" />

<!-- revoluation -->
<link rel="stylesheet" type="text/css" href="revolution/css/settings.css" media="screen" />

<!-- Typography -->
<link rel="stylesheet" type="text/css" href="css/typography.css" />

<!-- Shortcodes -->
<link rel="stylesheet" type="text/css" href="css/shortcodes/shortcodes.css" />

<!-- Style -->
<link rel="stylesheet" type="text/css" href="css/style.css" />

<!-- barber -->
<link rel="stylesheet" type="text/css" href="demo-categories/barber/css/barber.css" />

<!-- Responsive -->
<link rel="stylesheet" type="text/css" href="css/responsive.css" />

<!-- Style customizer -->
<link rel="stylesheet" type="text/css" href="css/skins/skin-gold.css" data-style="styles"/>

<!--Theme color-->
<link rel="stylesheet" type="text/css" href="css/skins/skin-blue.css" />

</head>

<body>

<div class="wrapper">

<!--=================================
 preloader -->

<div id="pre-loader">
    <img src="images/pre-loader/loader-05.svg" alt="">
</div>

<!--=================================
 preloader -->

<!--=================================
 header -->

<header id="header" class="header light logo-center barber-header">

<!--=================================
 mega menu -->

<div class="menu">
  <!-- menu start -->
   <nav id="menu" class="mega-menu">
    <!-- menu list items container -->
    <section class="menu-list-items">
     <div class="container">
      <div class="row">
       <div class="col-lg-12 col-md-8 position-relative">
        <!-- menu logo -->
         <ul class="menu-logo">
            <li class="topbar-social">
              <div class="social-icons color-hover clearfix text-md-start">
                <ul>
                  <li class="social-facebook"><a href="#"><span class="ti-facebook"></span></a></li>
                  <li class="social-instagram"><a href="#"><span class="ti-instagram"></span></a></li>
                  <li class="social-google"><a href="#"><span class="fa fa-google"></span></a></li>
                  <li class="social-twitter"><a href="#"><span class="ti-twitter"></span></a></li>
                </ul>
              </div>
            </li>
            <li>
                <a href="index-barber.html"><img  src="demo-categories/barber/images/tms.jpg" alt="logo"> </a>
            </li>
            <li class="topbar-telephone">
              <div class="telephone">
                <p class="uppercase mb-0">telephone</p>
                <p class="theme-color">+(704) 279-1249</p>
              </div>
            </li>
        </ul>
        <!-- menu links -->
        <div class="menu-bar">
          <ul class="menu-links">
           <li class="active"><a href="index-barber.html">Home  </a> </li>
           <li><a href="#">About Us</a></li>
           <li><a href="#"> Products
            <i class="fa fa-angle-down fa-indicator"></i> </a>
              <ul class="drop-down-multilevel left-side">
                <li><a href="#">Woven</a> </li>
                <li><a href="#">Knit</a> </li>
              </ul>
            </li>
            <li><a href="#"> Services
              <i class="fa fa-angle-down fa-indicator"></i> </a>
                <ul class="drop-down-multilevel left-side">
                  <li><a href="#">Sourcing</a> </li>
                  <li><a href="#">Quality Assurance</a> </li>
                  <li><a href="#">Merchandising</a></li>
                </ul>
              </li>
            <li><a href="demo-categories/barber/services.html">Strenghths </a> </li>
            <li><a href="demo-categories/barber/appointment.html">Our Team</a> </li>
            <li><a href="demo-categories/barber/team.html">Careers </a> </li>
            <li><a href="#"> Contact Us
              <i class="fa fa-angle-down fa-indicator"></i> </a>
                <ul class="drop-down-multilevel left-side">
                  <li><a href="#">Sri Lanka</a> </li>
                  <li><a href="#">Bangladesh</a> </li>
                </ul>
              </li>
          </ul>
        </div>
       </div>
      </div>
     </div>
    </section>
   </nav>
  <!-- menu end -->
 </div>
</header>

<!--=================================
 header -->

<!--=================================
 banner -->

<section class="slider-parallax barber-banner parallax" style="background: url(demo-categories/barber/images/2.jpg);">
  <div class="slider-content-middle">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9 col-md-9">
          <div class="slider-content text-center">
            <h1 class="text-white mt-20 uppercase">Create Your Own Garment with Us</h1>
            <a class="button button-border mt-20 text-white" href="#"> Read more </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--=================================
 banner -->


<!--=================================
  Barber -->

<section class="barber">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 d-none d-lg-block">
        <div class="position-relative">
          <img class="about-img-01 img-fluid" src="demo-categories/barber/images/3.jpg">
          <img class="about-img-02 img-fluid" src="demo-categories/barber/images/15.jpg">
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="about-history section-title">
          <div class="barber-section-title">
            <div class="barber-title d-none d-lg-block"><span>Story</span></div>
            <h2 class="ml-60 sm-ml-0 w-50">What are you waiting for?</h2>
          </div>
          <p class="theme-color mt-40 sm-mt-0">Join us on this incredible journey as we continue to innovate, inspire, and create textiles that leave a lasting impression worldwide.</p>
          <p class="mt-30"> At our fabric company, we are committed to building strong and enduring partnerships with our valued customers. Collaboration is essential, and we strive to create a mutually beneficial environment where both customers and our company succeed. </p>
          <p class="mt-30 sm-mt-20">Together with our customers, we embark on a journey towards mutual success. We listen to their feedback, understand their vision, and leverage our expertise to fulfill their requirements. Join us for a lifelong Win-Win relationship built on quality, efficiency, and personalized service. Let's create a future of success, trust, and growth together.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="divider pt-20"></div>
</section>

<!--=================================
  Barber -->

<!--=================================
about- -->

<section class="about page-section-ptb">
  <div class="container">
    <div class="row justify-content-center">
       <div class="col-lg-8 col-md-8">
       <div class="section-title text-center">
            <h6>We're Good At</h6>
            <h2 class="title-effect">Our Services</h2>
            <p>Exquisite Fabrics, Exceptional Service: TMS (PVT) LTD - Your Partner in Textile Success.</p>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="feature-text round theme-icon text-center xs-mb-30">
            <div class="feature-icon">
              <span aria-hidden="true" class="ti-layers-alt theme-color"></span>
            </div>
              <div class="feature-info">
              <h4 class="pb-10">Sourcing</h4>
              <p>Experience unparalleled product development and sourcing expertise through TMS. Our steadfast strategic supply chain ensures exceptional capabilities, delivering superior results. Partner with us to unlock innovation and achieve success in fabric manufacturing. </p>
          </div>
         </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="feature-text round theme-icon text-center xs-mb-30">
            <div class="feature-icon">
              <span aria-hidden="true" class="ti-shield theme-color"></span>
            </div>
              <div class="feature-info">
              <h4 class="pb-10">Quality Assurance</h4>
              <p>Benefit from our robust quality control foundation in sourcing destinations, where we diligently inspect, monitor, and deliver impeccable results. With our unwavering commitment to quality assurance, rest assured that your fabrics undergo thorough scrutiny before leaving our premises.</p>
          </div>
         </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="feature-text round theme-icon text-center">
            <div class="feature-icon">
              <span aria-hidden="true" class="ti-image theme-color"></span>
            </div>
              <div class="feature-info">
              <h4 class="pb-10">Advantage of Price</h4>
              <p>Leveraging our cutting-edge manufacturing facilities and backward integration, TMS gains a competitive advantage in sourcing fabrics at optimal prices. Count on us to secure the right materials at highly competitive rates, giving you an edge in the market.</p>
          </div>
         </div>
        </div>
     </div>
  </div>
</section>

<!--=================================
about- -->


<!--=================================
why-choose-us -->

<section class="page-section-ptb bg-overlay-black-80 parallax" data-jarallax='{"speed": 0.6}' style="background: url(images/bg/06.jpg);">
  <div class="container">
  <div class="row">
       <div class="col-lg-12 col-md-12">
        <div class="section-title text-center">
            <h6 class="text-white">Experience Excellence: Discover the Difference with Us!</h6>
            <h2 class="text-white title-effect dark">Why Choose us </h2>
          </div>
       </div>
    </div>
   <div class="row">
     <div class="col-lg-6 position-relative">
        <p class="text-white lead">Our company, with nearly four decades of experience in the textile industry, is the ideal choice for your fabric supplier.</p>
        <p class="pt-20 text-white"> <span class="dropcap square dropcap-border">W</span>e have built a strong reputation for maintaining high-quality standards, supplying flawless fabrics that are widely accepted by renowned brands worldwide. With a commitment to excellence and a constant focus on the latest global fashion trends, our designs are always up to date and reflect the current fashion sensibilities.
        <div class="row mt-30">
          <div class="col-sm-6 col-xs-6 col-xx-12">
            <ul class="list list-unstyled list-hand">
              <li class="text-white">  Best Quality Standards</li>
              <li class="text-white">  100% Satisfaction Guarantee </li>
            </ul>
          </div>
          <div class="col-sm-6 col-xs-6 col-xx-12">
            <ul class="list list-unstyled list-hand">
              <li class="text-white">  Commitment to Customers</li>
              <li class="text-white">  Highly Professional Team </li>
            </ul>
          </div>
         </div>
    </div>
    <div class="col-lg-6 sm-mt-30 position-relative">
     <video class="video" style="width: 100%;" poster="#" preload="auto" controls="controls">
             <source src="video/video1.mp4" type="#">
             <source src="video/video.webm" type="video/webm">
             <source src="video/video.ogv" type="video/ogg">
       </video>
    </div>
   </div>
  </div>
</section>
<!--=================================
why-choose-us -->

<!--=================================
our fabrics  -->

<section class="page-section-ptb gray-bg">
  <div class="container">
    <div class="row">
     <div class="col-lg-12 col-md-12">
         <div class="section-title text-center">
            <h6>Fabric Varities</h6>
            <h2 class="title-effect">Experts in Sourcing Variety of Fabrics</h2>
          </div>
       </div>
    </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 sm-mb-30">
           <div class="team team-list">
              <div class="team-photo">
                <img class="img-fluid mx-auto" src="images/team/fabric-texture-background.jpg" alt="">
              </div>
              <div class="team-description">
                <div class="team-info">
                     <h5>Woven</h5>
                     <p>Different weight categories of woven non denim fabrics with all pre and post dyed finishes.</p>
                </div>
               </div>
           </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="team team-list">
               <div class="team-photo">
                 <img class="img-fluid mx-auto" src="images/team/fabric-texture-background (1).jpg" alt="">
               </div>
               <div class="team-description">
                 <div class="team-info">
                      <h5>Knit</a></h5>
                      <p>Single Jersey, double jersey, pique, loop back, interlock, brushed back, Plain rib, Jacquard, terry & fleece.</p>
                 </div>
                </div>
            </div>
           </div>
       </div>
  </div>
</section>

 <!--=================================
clients-->

<section class="black-bg page-section-ptb">
  <div class="container">
     <div class="row">
       <div class="col-lg-12 col-md-12">
          <div class="clients-list">
             <div class="owl-carousel" data-nav-dots="false" data-items="5" data-md-items="4" data-sm-items="3" data-xs-items="2" data-xx-items="1">
               <div class="item">
                  <img class="img-fluid mx-auto" src="images/clients/sri_lanka_w-removebg-preview.png" alt="" style="height:120px">
               </div>
               <div class="item">
                  <img class="img-fluid mx-auto" src="images/clients/india-removebg-preview.png" alt="" style="height:140px">
               </div>
               <div class="item">
                  <img class="img-fluid mx-auto" src="images/clients/bangladesh-removebg-preview.png" alt="" style="height:140px">
               </div>
               <div class="item">
                  <img class="img-fluid mx-auto" src="images/clients/flag-of-pakistan-world-map-globe-country-removebg-preview.png" alt="" style="height:120px">
               </div>
               <div class="item">
                <img class="img-fluid mx-auto" src="images/clients/sri_lanka_w-removebg-preview.png" alt="" style="height:120px">
             </div>
             <div class="item">
                <img class="img-fluid mx-auto" src="images/clients/india-removebg-preview.png" alt="" style="height:140px">
             </div>
             <div class="item">
                <img class="img-fluid mx-auto" src="images/clients/bangladesh-removebg-preview.png" alt="" style="height:140px">
             </div>
             <div class="item">
                <img class="img-fluid mx-auto" src="images/clients/flag-of-pakistan-world-map-globe-country-removebg-preview.png" alt="" style="height:120px">
             </div>
             </div>
          </div>
        </div>
     </div>
  </div>
</section>

<!--=================================
clients-->

<!--=================================
contact-->

<section class="barber-contact page-section-ptb">
  <div class="container">
    <div class="row justify-content-center align-self-center mb-20">
      <div class="col-lg-12 text-center position-relative">
        <div class="barber-section-title">
          <div class="barber-title d-none d-lg-block">
             <span>Contact</span>
          </div>
          <h2 class="w-25 mx-auto">Ready for make a statement?</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 h-100 sm-mb-30">
       <div class="text-center">
         <i class="fa fa-map-marker" aria-hidden="true"></i>
         <h4 class="mt-15 uppercase theme-color">Address</h4>
         <p class="mb-0"> 17504 Carlton Cuevas Rd,</p>
         <p class="mb-0">Gulfport, MS, 39503</p>
        </div>
       </div>
      <div class="col-lg-4 col-md-4 col-sm-4 h-100 sm-mb-30">
        <div class="text-center">
         <i class="ti-mobile"></i>
         <h4 class="mt-15 uppercase theme-color">Call Us</h4>
         <h4>+(704) 279-1249</h4>
         <p class="mb-0">info@example.com</p>
         <p class="mb-0">For Booking</p>
        </div>
       </div>
       <div class="col-lg-4 col-md-4 col-sm-4 h-100 sm-mb-30">
       <div class="text-center">
         <i class="fa fa-clock-o" aria-hidden="true"></i>
         <h4 class="mt-15 uppercase theme-color">Hours</h4>
         <p class="mb-0">Monday Through</p>
         <p class="mb-0">Saturday 11 am – 9 pm</p>
         <p class="mb-0">Sunday 11 am – 7 pm</p>
       </div>
     </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 h-100 sm-mb-30">
       <div class="text-center">
         <i class="fa fa-map-marker" aria-hidden="true"></i>
         <h4 class="mt-15 uppercase theme-color">Address</h4>
         <p class="mb-0"> 17504 Carlton Cuevas Rd,</p>
         <p class="mb-0">Gulfport, MS, 39503</p>
        </div>
       </div>
      <div class="col-lg-4 col-md-4 col-sm-4 h-100 sm-mb-30">
        <div class="text-center">
         <i class="ti-mobile"></i>
         <h4 class="mt-15 uppercase theme-color">Call Us</h4>
         <h4>+(704) 279-1249</h4>
         <p class="mb-0">info@example.com</p>
         <p class="mb-0">For Booking</p>
        </div>
       </div>
       <div class="col-lg-4 col-md-4 col-sm-4 h-100 sm-mb-30">
       <div class="text-center">
         <i class="fa fa-clock-o" aria-hidden="true"></i>
         <h4 class="mt-15 uppercase theme-color">Hours</h4>
         <p class="mb-0">Monday Through</p>
         <p class="mb-0">Saturday 11 am – 9 pm</p>
         <p class="mb-0">Sunday 11 am – 7 pm</p>
       </div>
     </div>
    </div>
  </div>
</section>

<!--=================================
contact-->

<!--=================================
 footer -->

<footer class="footer page-section-pt black-bg">
 <div class="container">
  <div class="row">
      <div class="col-lg-2 col-sm-6 sm-mb-30">
      <div class="footer-useful-link footer-hedding">
        <h6 class="text-white mb-30 mt-10 text-uppercase">Navigation</h6>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Service</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-2 col-sm-6 sm-mb-30">
      <div class="footer-useful-link footer-hedding">
        <h6 class="text-white mb-30 mt-10 text-uppercase">Useful Link</h6>
        <ul>
          <li><a href="#">Create Account</a></li>
          <li><a href="#">Company Philosophy</a></li>
          <li><a href="#">Corporate Culture</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Client Management</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 xs-mb-30">
      <h6 class="text-white mb-30 mt-10 text-uppercase">Contact Us</h6>
      <ul class="addresss-info">
        <li><i class="fa fa-map-marker"></i> <p>Address: 17504 Carlton Cuevas Rd, Gulfport, MS, 39503</p> </li>
        <li><i class="fa fa-phone"></i> <a href="tel:7042791249"> <span>+(704) 279-1249 </span> </a> </li>
        <li><i class="fa fa-envelope-o"></i>Email: letstalk@webster.com</li>
      </ul>
    </div>
    <div class="col-lg-4 col-sm-6">
      <h6 class="text-white mb-30 mt-10 text-uppercase">Subscribe to Our Newsletter</h6>
        <p>Sign Up to our Newsletter to get the latest news and offers.</p>
         <div class="footer-Newsletter">
          <div id="mc_embed_signup_scroll">
            <form action="php/mailchimp-action.php" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
             <div id="msg"> </div>
              <div id="mc_embed_signup_scroll_2">
                <input id="mce-EMAIL" class="form-control" type="text" placeholder="Email address" name="email1" value="">
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;">
                    <input type="text" name="b_b7ef45306f8b17781aa5ae58a_6b09f39a55" tabindex="-1" value="">
                </div>
                <div class="clear">
                  <button type="submit" name="submitbtn" id="mc-embedded-subscribe" class="button button-border mt-20 form-button">  Get notified </button>
                </div>
              </form>
            </div>
            </div>
         </div>
       </div>
      <div class="footer-widget mt-20">
        <div class="row">
          <div class="col-lg-6 col-md-6">
           <p class="mt-15"> &copy;Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="#"> Webster </a> All Rights Reserved </p>
          </div>
          <div class="col-lg-6 col-md-6 text-start text-md-end">
            <div class="footer-widget-social">
             <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i> </a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
             </ul>
           </div>
          </div>
        </div>
      </div>
  </div>
</footer>

<!--=================================
 footer -->

 </div>

<div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-angle-up"></i> <span>TOP</span></a></div>

<!--=================================
 jquery -->

<!-- jquery -->
<script src="js/jquery-3.6.0.min.js"></script>

<!-- plugins-jquery -->
<script src="js/plugins-jquery.js"></script>

<!-- plugin_path -->
<script>var plugin_path = 'js/';</script>

<!-- custom -->
<script src="js/custom.js"></script>

</body>
</html>
