<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Webster - Responsive Multi-purpose HTML5 Template" />
<meta name="author" content="potenzaglobalsolutions.com" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>Webster - Responsive Multi-purpose HTML5 Template</title>

<!-- Favicon -->
<link rel="shortcut icon" href="images/favicon.ico" />

<!-- font -->
<link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,500i,600,700,800,900|Poppins:200,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800">

<!-- Plugins -->
<link rel="stylesheet" type="text/css" href="css/plugins-css.css" />

<!-- revoluation -->
<link rel="stylesheet" type="text/css" href="revolution/css/settings.css" media="screen" />

<!-- Typography -->
<link rel="stylesheet" type="text/css" href="css/typography.css" />

<!-- Shortcodes -->
<link rel="stylesheet" type="text/css" href="css/shortcodes/shortcodes.css" />

<!-- Style -->
<link rel="stylesheet" type="text/css" href="css/style.css" />

<!-- Responsive -->
<link rel="stylesheet" type="text/css" href="css/responsive.css" />

<!--Theme color-->
<link rel="stylesheet" type="text/css" href="css/skins/skin-blue.css" />

</head>

<body>

<div class="wrapper">

<!--=================================
 preloader -->

<div id="pre-loader">
    <img src="images/pre-loader/loader-01.svg" alt="">
</div>

<!--=================================
 preloader -->

<!--=================================
 header -->

<header id="header" class="header fancy without-topbar text-dark">

<!--=================================
 mega menu -->

<div class="menu">
  <div class="container">
    <div class="row">
     <div class="col-lg-12 col-md-12">
     <!-- menu start -->
       <nav id="menu" class="mega-menu">
        <!-- menu list items container -->
        <section class="menu-list-items">
        <!-- menu logo -->
        <ul class="menu-logo">
            <li>
                <a href="index-06.html"><img id="logo_img" src="images/.png" alt="logo"> </a>
            </li>
        </ul>
        <!-- menu links -->
        <div class="menu-bar">
         <ul class="menu-links">
         <li><a href="./index-06.html">Home </a>
                
            </li>
            <li><a href="./about-06.html"> About Us </a>
                 
            </li>
            <li><a href="#">Products<i class="fa fa-angle-down fa-indicator"></i></a>
              <!-- drop down multilevel  -->
              <ul class="drop-down-multilevel left-side">

                <li><a href="./shop-home-07.html">Woven </a>
                  
                </li>
                <li><a href="./shop-home-06.html">Knit </a>
                  
                </li>   
                
            </ul>
            </li>
            
            <li><a href="#">Services <i class="fa fa-angle-down fa-indicator"></i></a>
                <!-- drop down multilevel  -->
                <ul class="drop-down-multilevel left-side">

                  <li><a href="./service-03.html">Sourcing </a>
                    
                  </li>
                  <li><a href="./service-02.html">Quality Assurance </a>
                    
                  </li>
                  <li><a href="./service-02.html"> </a>
                    
                  </li>   
                  
              </ul>
            </li>
            <li><a href="./service-04.html">Strengths</a>
                
            </li>
            <li><a href="./about-03.html">Our Team</a>
                
            </li>
            <li><a href="./careers.html"> Careers</a>
              
            </li>
            
            <li><a href="./contact-03.html"> Contact Us <i class="fa fa-angle-down fa-indicator"></i></a>
              <!-- drop down multilevel  -->
              <ul class="drop-down-multilevel left-side">

                <li><a href="./contact-03.html">Sri Lanka </a>
                  
                </li>
                <li><a href="./contact-02.html">Bangladesh </a>
                  
                </li>   
                
            </ul>
              
            </li>
        </ul>
        <div class="search-cart">
          <div class="search">
            <a class="search-btn not_click" href="javascript:void(0);"></a>
              <div class="search-box not-click">
                 <form action="search.html" method="get">
                  <input type="text"  class="not-click form-control" name="search" placeholder="Search.." value="" >
                  <button class="search-button" type="submit"> <i class="fa fa-search not-click"></i></button>
                </form>
           </div>
          </div>
         </div>
        </div>
       </section>
       </nav>
       </div>
     </div>
    </div>
   </div>
  <!-- menu end -->
</header>

<!--=================================
 header -->

<!--=================================
 rev-slider -->

<section class="rev-slider">
  <div id="rev_slider_272_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="webster-slider-6" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.4.6.3 fullwidth mode -->
  <div id="rev_slider_272_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.6.3">
<ul>  <!-- SLIDE  -->
    <li data-index="rs-764" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="revolution/assets/slider-06/100x50_95d68-bg.jpg"  data-delay="7990"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/slider-06/Untitleddesign4.png"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->
    <!-- LAYER NR. 3 -->
    <div class="tp-caption   tp-resizeme"
       id="slide-765-layer-1"
       data-x="center" data-hoffset=""
       data-y="center" data-voffset="10"
            data-width="['auto']"
      data-height="['auto']"

            data-type="text"
      data-responsive_offset="on"

            data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5; white-space: nowrap; font-size: 90px; line-height: 100px; font-weight: 400; color: #0a0a0a; letter-spacing: 0px;font-family:Balloon XBd BT;"><b>You Create your Own <br/>Garment With Us </b></div>


    <!-- LAYER NR. 5 -->
    <a class="tp-caption rev-btn  tp-resizeme  rev-button"
 href="#" target="_self"       id="slide-765-layer-3"
       data-x="800"
       data-y="585"
            data-width="['auto']"
      data-height="['auto']"

            data-type="button"
      data-actions=''
      data-responsive_offset="on"

            data-frames='[{"delay":2220,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power0.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(10,10,10);bc:rgb(10,10,10);bs:solid;bw:0 0 0 0;"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[12,12,12,12]"
            data-paddingright="[30,30,30,30]"
            data-paddingbottom="[12,12,12,12]"
            data-paddingleft="[30,30,30,30]"

            style="z-index: 6; white-space: nowrap; font-size: 12px; line-height: 22px; font-weight: 700; color: rgba(255,255,255,1); font-family:Montserrat;text-transform:uppercase;background-color:rgb(132,186,63);border-color:rgba(0,0,0,1);border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">Explore now
 </a>

    <!-- LAYER NR. 6 -->
    <a class="tp-caption tp-resizeme"
 href="#" target="_self"       id="slide-765-layer-4"
       data-x="970"
       data-y="585"
            data-width="['auto']"
      data-height="['auto']"

            data-type="button"
      data-actions=''
      data-responsive_offset="on"

            data-frames='[{"delay":2770,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":270,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power0.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(10,10,10);"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[12,12,12,12]"
            data-paddingright="[30,30,30,30]"
            data-paddingbottom="[12,12,12,12]"
            data-paddingleft="[30,30,30,30]"

            style="z-index: 7; white-space: nowrap; font-size: 12px; line-height: 18px; font-weight: 700; color: #0a0a0a; font-family:Montserrat;text-transform:uppercase;background-color:rgba(0,0,0,0);border-color:rgba(0,0,0,1);border-style:solid;border-width:2px 2px 2px 2px;border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">purchase now </a>
  </li>
  <!-- SLIDE  -->
    <li data-index="rs-765" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="revolution/assets/slider-06/100x50_c81f3-ac32d-bg.jpg"  data-delay="8000"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
        <img src="revolution/assets/slider-06/Untitleddesign5.png"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->

    <!-- LAYER NR. 18 -->
    <div class="tp-caption   tp-resizeme"
       id="slide-765-layer-1"
       data-x="center" data-hoffset=""
       data-y="center" data-voffset="10"
            data-width="['auto']"
      data-height="['auto']"

            data-type="text"
      data-responsive_offset="on"

            data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5; white-space: nowrap; font-size: 90px; line-height: 100px; font-weight: 400; color: #0a0a0a; letter-spacing: 0px;font-family:Balloon XBd BT;"><b>You Create your Own <br/>Garment With Us </b></div>

    <!-- LAYER NR. 19 -->
    <a class="tp-caption rev-btn  tp-resizeme  rev-button"
 href="#" target="_self"       id="slide-765-layer-3"
       data-x="800"
       data-y="585"
            data-width="['auto']"
      data-height="['auto']"

            data-type="button"
      data-actions=''
      data-responsive_offset="on"

            data-frames='[{"delay":2220,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power0.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(10,10,10);bc:rgb(10,10,10);bs:solid;bw:0 0 0 0;"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[12,12,12,12]"
            data-paddingright="[30,30,30,30]"
            data-paddingbottom="[12,12,12,12]"
            data-paddingleft="[30,30,30,30]"

            style="z-index: 6; white-space: nowrap; font-size: 12px; line-height: 22px; font-weight: 700; color: rgba(255,255,255,1); font-family:Montserrat;text-transform:uppercase;background-color:rgb(132,186,63);border-color:rgba(0,0,0,1);border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">Explore now
 </a>

    <!-- LAYER NR. 20 -->
    <a class="tp-caption tp-resizeme"
 href="#" target="_self"       id="slide-765-layer-4"
       data-x="970"
       data-y="585"
            data-width="['auto']"
      data-height="['auto']"

            data-type="button"
      data-actions=''
      data-responsive_offset="on"

            data-frames='[{"delay":2770,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":270,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power0.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(10,10,10);"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[12,12,12,12]"
            data-paddingright="[30,30,30,30]"
            data-paddingbottom="[12,12,12,12]"
            data-paddingleft="[30,30,30,30]"

            style="z-index: 7; white-space: nowrap; font-size: 12px; line-height: 18px; font-weight: 700; color: #0a0a0a; font-family:Montserrat;text-transform:uppercase;background-color:rgba(0,0,0,0);border-color:rgba(0,0,0,1);border-style:solid;border-width:2px 2px 2px 2px;border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">purchase now </a>

  </li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> </div>
</div>
</section>

<!--=================================
 rev-slider -->

<!--=================================
about- -->

<section class="about page-section-ptb">
  <div class="container">
    <div class="row justify-content-center">
       <div class="col-lg-8 col-md-8">
       <div class="section-title text-center">
            <h6>We're Good At</h6>
            <h2 class="title-effect">Our Services</h2>
            <p>Exquisite Fabrics, Exceptional Service: TMS (PVT) LTD - Your Partner in Textile Success.</p>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="feature-text round theme-icon text-center xs-mb-30">
            <div class="feature-icon">
              <span aria-hidden="true" class="ti-layers-alt theme-color"></span>
            </div>
              <div class="feature-info">
              <h4 class="pb-10">Sourcing</h4>
              <p>Experience unparalleled product development and sourcing expertise through TMS. Our steadfast strategic supply chain ensures exceptional capabilities, delivering superior results. Partner with us to unlock innovation and achieve success in fabric manufacturing. </p>
          </div>
         </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="feature-text round theme-icon text-center xs-mb-30">
            <div class="feature-icon">
              <span aria-hidden="true" class="ti-shield theme-color"></span>
            </div>
              <div class="feature-info">
              <h4 class="pb-10">Quality Assurance</h4>
              <p>Benefit from our robust quality control foundation in sourcing destinations, where we diligently inspect, monitor, and deliver impeccable results. With our unwavering commitment to quality assurance, rest assured that your fabrics undergo thorough scrutiny before leaving our premises.</p>
          </div>
         </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="feature-text round theme-icon text-center">
            <div class="feature-icon">
              <span aria-hidden="true" class="ti-image theme-color"></span>
            </div>
              <div class="feature-info">
              <h4 class="pb-10">Advantage of Price</h4>
              <p>Leveraging our cutting-edge manufacturing facilities and backward integration, TMS gains a competitive advantage in sourcing fabrics at optimal prices. Count on us to secure the right materials at highly competitive rates, giving you an edge in the market.</p>
          </div>
         </div>
        </div>
     </div>
  </div>
</section>

<!--=================================
about- -->

<!--=================================
Skill- -->

<section class="o-hidden">
   <div class="container-fluid p-0">
    <div class="row no-gutter">
     <div class="col-xl-7 col-lg-8 col-md-6 services-text-box-green">
        <div class="section-title">
            <h6 class="text-white">What Are You Waiting For?</h6>
            <h2 class="text-white">Quality Fabrics, Endless Possibilities: Make a Statement with Us.</h2>
            <p class="text-white">Join us on this incredible journey as we continue to innovate, inspire, and create textiles that leave a lasting impression worldwide.
            </p>
         </div>
         <p class="text-white">
          At our fabric company, we are committed to building strong and enduring partnerships with our valued customers. Our unwavering dedication to quality and efficiency forms the foundation of our mission. We believe in the power of collaboration and strive to create a Win-Win environment where both our customers and our company thrive together.</p>
         <p class="text-white">
          Together with our customers, we embark on a journey towards mutual success. We listen to their feedback, understand their vision, and leverage our expertise to fulfill their requirements. By fostering open communication and transparent collaboration, we cultivate an environment where ideas flourish and innovations thrive.</p>
         <p class="text-white">Join us on this rewarding path towards a Win-Win lifelong relationship. Experience the synergy of quality, efficiency, and personalized service that sets us apart. Together, let's weave a future of success, trust, and growth.</p>
      </div>
      <div class="col-xl-5 col-lg-4 hidden-md-down" data-jarallax='{"speed": 0.6}'  style="background: url(images/bg/color-tone-texture-fabric-sample.jpg) no-repeat 0 0;">
      </div>
    </div>
   </div>
</section>

<!--=================================
Skill- -->

<!--=================================
Meet our creative team  -->

<section class="page-section-ptb gray-bg">
  <div class="container">
    <div class="row">
     <div class="col-lg-12 col-md-12">
         <div class="section-title text-center">
            <h6>Fabric Varities</h6>
            <h2 class="title-effect">Experts in Sourcing Variety of Fabrics</h2>
          </div>
       </div>
    </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 sm-mb-30">
           <div class="team team-list">
              <div class="team-photo">
                <img class="img-fluid mx-auto" src="images/team/fabric-texture-background.jpg" alt="">
              </div>
              <div class="team-description">
                <div class="team-info">
                     <h5>Woven</h5>
                     <p>Different weight categories of woven non denim fabrics with all pre and post dyed finishes.</p>
                </div>
               </div>
           </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="team team-list">
               <div class="team-photo">
                 <img class="img-fluid mx-auto" src="images/team/fabric-texture-background (1).jpg" alt="">
               </div>
               <div class="team-description">
                 <div class="team-info">
                      <h5>Knit</a></h5>
                      <p>Single Jersey, double jersey, pique, loop back, interlock, brushed back, Plain rib, Jacquard, terry & fleece.</p>
                 </div>
                </div>
            </div>
           </div>
       </div>
  </div>
</section>

<!--=================================
Meet our creative team  -->

<!--=================================
why-choose-us -->

<section class="page-section-ptb bg-overlay-black-80 parallax" data-jarallax='{"speed": 0.6}' style="background: url(images/bg/06.jpg);">
  <div class="container">
  <div class="row">
       <div class="col-lg-12 col-md-12">
        <div class="section-title text-center">
            <h6 class="text-white">Experience Excellence: Discover the Difference with Us!</h6>
            <h2 class="text-white title-effect dark">Why Choose us </h2>
          </div>
       </div>
    </div>
   <div class="row">
     <div class="col-lg-6 position-relative">
        <p class="text-white lead">Our company, with nearly four decades of experience in the textile industry, is the ideal choice for your fabric supplier.</p>
        <p class="pt-20 text-white"> <span class="dropcap square dropcap-border">W</span>e have built a strong reputation for maintaining high-quality standards, supplying flawless fabrics that are widely accepted by renowned brands worldwide. With a commitment to excellence and a constant focus on the latest global fashion trends, our designs are always up to date and reflect the current fashion sensibilities.
        <div class="row mt-30">
          <div class="col-sm-6 col-xs-6 col-xx-12">
            <ul class="list list-unstyled list-hand">
              <li class="text-white">  Best Quality Standards</li>
              <li class="text-white">  100% Satisfaction Guarantee </li>
            </ul>
          </div>
          <div class="col-sm-6 col-xs-6 col-xx-12">
            <ul class="list list-unstyled list-hand">
              <li class="text-white">  Commitment to Customers</li>
              <li class="text-white">  Highly Professional Team </li>
            </ul>
          </div>
         </div>
    </div>
    <div class="col-lg-6 sm-mt-30 position-relative">
     <video class="video" style="width: 100%;" poster="video/Capture.PNG" preload="auto" controls="controls">
             <source src="video/video1.mp4" type="video/mp4">
             <source src="video/video.webm" type="video/webm">
             <source src="video/video.ogv" type="video/ogg">
       </video>
    </div>
   </div>
  </div>
</section>
<!--=================================
why-choose-us -->

 <!--=================================
clients-->

<section class="gray-bg page-section-ptb">
  <div class="container">
     <div class="row">
       <div class="col-lg-12 col-md-12">
          <div class="clients-list">
             <div class="owl-carousel" data-nav-dots="false" data-items="5" data-md-items="4" data-sm-items="3" data-xs-items="2" data-xx-items="1">
               <div class="item">
                  <img class="img-fluid mx-auto" src="images/clients/sri_lanka_w-removebg-preview.png" alt="" style="height:120px">
               </div>
               <div class="item">
                  <img class="img-fluid mx-auto" src="images/clients/india-removebg-preview.png" alt="" style="height:140px">
               </div>
               <div class="item">
                  <img class="img-fluid mx-auto" src="images/clients/bangladesh-removebg-preview.png" alt="" style="height:140px">
               </div>
               <div class="item">
                  <img class="img-fluid mx-auto" src="images/clients/flag-of-pakistan-world-map-globe-country-removebg-preview.png" alt="" style="height:120px">
               </div>
               <div class="item">
                <img class="img-fluid mx-auto" src="images/clients/sri_lanka_w-removebg-preview.png" alt="" style="height:120px">
             </div>
             <div class="item">
                <img class="img-fluid mx-auto" src="images/clients/india-removebg-preview.png" alt="" style="height:140px">
             </div>
             <div class="item">
                <img class="img-fluid mx-auto" src="images/clients/bangladesh-removebg-preview.png" alt="" style="height:140px">
             </div>
             <div class="item">
                <img class="img-fluid mx-auto" src="images/clients/flag-of-pakistan-world-map-globe-country-removebg-preview.png" alt="" style="height:120px">
             </div>
             </div>
          </div>
        </div>
     </div>
  </div>
</section>

<!--=================================
clients-->

<!--=================================
Our Clients  -->

<section class="our-clients theme-bg text-white page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
      </div>
    </div>
  </div>
</section>

<!--=================================
 Our Clients -->

<!--=================================
 footer -->

 <footer class="footer page-section-pt black-bg">
<div class="container">
  <div class="footer-contact white-bg">
          <div class="row">
              <div class="col-lg-4 col-md-4 bottom-m3">
                  <div class="contact-box">
                      <div class="contact-icon">
                          <i class="ti-direction-alt"></i>
                      </div>
                      <div class="contact-info">
                          <div class="text-center">
                              <h5 class="mt-10 mb-10">17504 Carlton Cuevas Rd, </h5>
                              <span>Gulfport, MS, 39503</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 bottom-m3">
                  <div class="contact-box">
                      <div class="contact-icon">
                          <i class="ti-headphone-alt"></i>
                      </div>
                      <div class="contact-info">
                          <div class="text-center">
                              <h5 class="mt-10 mb-10">+(704) 279-1249</h5>
                              <span>Mon-Fri 8:30am-6:30pm</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4">
                  <div class="contact-box">
                      <div class="contact-icon">
                          <i class="ti-email"></i>
                      </div>
                      <div class="contact-info">
                          <div class="text-center">
                              <h5 class="mt-10 mb-10"> letstalk@webster.com</h5>
                              <span>24 X 7 online support</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        <div class="container">
         <div class="row">
             <div class="col-lg-2 col-sm-6 sm-mb-30">
             <div class="footer-useful-link footer-hedding">
               <h6 class="text-white mb-30 mt-10 text-uppercase">Navigation</h6>
               <ul>
                 <li><a href="./index-06.html">Home</a></li>
                 <li><a href="./about-06.html">About Us</a></li>
                 <li><a href="./shop-07-product">Products</a></li>
                 <li><a href="./service-03.html">Services</a></li>
                 <li><a href="./service-04.html">Strengths</a></li>
                 <li><a href="./about-03.html">Our Team</a></li>
                 <li><a href="./contact-03.html">Contact Us</a></li>
               </ul>
             </div>
           </div>
           <div class="col-lg-2 col-sm-6 sm-mb-30">
             <div class="footer-useful-link footer-hedding">
               <h6 class="text-white mb-30 mt-10 text-uppercase">Useful Link</h6>
               <ul>
                 <li><a href="./privacy-policy.html">Privacy Policy</a></li>
                 <li><a href="./terms-and-conditions.html">Terms & Conditions</a></li>
               </ul>
             </div>
           </div>
           <div class="col-lg-4 col-sm-6 xs-mb-30">
           <h6 class="text-white mb-30 mt-10 text-uppercase">Contact Us</h6>
           <ul class="addresss-info">
               <li><i class="fa fa-map-marker"></i> <p>Address: 17504 Carlton Cuevas Rd, Gulfport, MS, 39503</p> </li>
               <li><i class="fa fa-phone"></i> <a href="tel:7042791249"> <span>+(704) 279-1249 </span> </a> </li>
               <li><i class="fa fa-envelope-o"></i>Email: letstalk@webster.com</li>
             </ul>
           </div>
           <div class="col-lg-4 col-sm-6">
             <h6 class="text-white mb-30 mt-10 text-uppercase">Subscribe to Our Newsletter</h6>
               <p class="mb-30">Sign Up to our Newsletter to get the latest news and offers.</p>
                <div class="footer-Newsletter">
                 <div id="mc_embed_signup_scroll">
                   <form action="php/mailchimp-action.php" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
                    <div id="msg"> </div>
                     <div id="mc_embed_signup_scroll_2">
                       <input id="mce-EMAIL" class="form-control" type="text" placeholder="Email address" name="email1" value="">
                     </div>
                     <div id="mce-responses" class="clear">
                       <div class="response" id="mce-error-response" style="display:none"></div>
                       <div class="response" id="mce-success-response" style="display:none"></div>
                       </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                       <div style="position: absolute; left: -5000px;" aria-hidden="true">
                           <input type="text" name="b_b7ef45306f8b17781aa5ae58a_6b09f39a55" tabindex="-1" value="">
                       </div>
                       <div class="clear">
                         <button type="submit" name="submitbtn" id="mc-embedded-subscribe" class="button button-border mt-20 form-button">  Get notified </button>
                       </div>
                     </form>
                   </div>
                   </div>
                </div>
              </div>
             <div class="footer-widget mt-20">
               <div class="row">
                 <div class="col-lg-6 col-md-6">
                  <p class="mt-15"> &copy;Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="#"> Chathu </a> All Rights Reserved </p>
                 </div>
                 <div class="col-lg-6 col-md-6 text-start text-md-end">
                   <div class="social-icons color-hover mt-10">
                    <ul>
                     <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                     <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                     <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i> </a></li>
                     <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i> </a></li>
                    </ul>
                  </div>
                 </div>
               </div>
             </div>
         </div>
       
</footer>

<!--=================================
 footer -->

</div>

<div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-angle-up"></i> <span>TOP</span></a></div>

<!--=================================
 jquery -->

<!-- jquery -->
<script src="js/jquery-3.6.0.min.js"></script>

<!-- plugins-jquery -->
<script src="js/plugins-jquery.js"></script>

<!-- plugin_path -->
<script>var plugin_path = 'js/';</script>

<!-- REVOLUTION JS FILES -->
<script src="revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="revolution/js/extensions/revolution.extension.video.min.js"></script>
<!-- revolution custom -->
<script src="revolution/js/revolution-custom.js"></script>

<!-- custom -->
<script src="js/custom.js"></script>



</body>
</html>
