<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Webster - Responsive Multi-purpose HTML5 Template" />
<meta name="author" content="potenzaglobalsolutions.com" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>Webster - Responsive Multi-purpose HTML5 Template</title>

<!-- Favicon -->
<link rel="shortcut icon" href="images/favicon.ico" />

<!-- font -->
<link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900">
<link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">

<!-- Plugins -->
<link rel="stylesheet" type="text/css" href="css/plugins-css.css" />

<!-- revoluation -->
<link rel="stylesheet" type="text/css" href="revolution/css/settings.css" media="screen" />

<!-- Typography -->
<link rel="stylesheet" type="text/css" href="css/typography.css" />

<!-- Shortcodes -->
<link rel="stylesheet" type="text/css" href="css/shortcodes/shortcodes.css" />

<!-- Style -->
<link rel="stylesheet" type="text/css" href="css/style.css" />

<!-- barber -->
<link rel="stylesheet" type="text/css" href="demo-categories/barber/css/barber.css" />

<!-- Responsive -->
<link rel="stylesheet" type="text/css" href="css/responsive.css" />

<!-- Style customizer -->
<link rel="stylesheet" type="text/css" href="css/skins/skin-gold.css" data-style="styles"/>

<!--Theme color-->
<link rel="stylesheet" type="text/css" href="css/skins/skin-blue.css" />

</head>

<body>

<div class="wrapper">

<!--=================================
 preloader -->

<div id="pre-loader">
    <img src="images/pre-loader/loader-05.svg" alt="">
</div>

<!--=================================
 preloader -->

<!--=================================
 header -->

<header id="header" class="header light logo-center barber-header">

<!--=================================
 mega menu -->

<div class="menu">
  <!-- menu start -->
   <nav id="menu" class="mega-menu">
    <!-- menu list items container -->
    <section class="menu-list-items">
     <div class="container">
      <div class="row">
       <div class="col-lg-12 col-md-8 position-relative">
        <!-- menu logo -->
         <ul class="menu-logo">
            <li class="topbar-social">
              <div class="social-icons color-hover clearfix text-md-start">
                <ul>
                  <li class="social-facebook"><a href="#"><span class="ti-facebook"></span></a></li>
                  <li class="social-instagram"><a href="#"><span class="ti-instagram"></span></a></li>
                  <li class="social-google"><a href="#"><span class="fa fa-google"></span></a></li>
                  <li class="social-twitter"><a href="#"><span class="ti-twitter"></span></a></li>
                </ul>
              </div>
            </li>
            <li>
                <a href="index-barber.html"><img  src="demo-categories/barber/images/tms.jpg" alt="logo"> </a>
            </li>
            <li class="topbar-telephone">
              <div class="telephone">
                <p class="uppercase mb-0">telephone</p>
                <p class="theme-color">+(704) 279-1249</p>
              </div>
            </li>
        </ul>
        <!-- menu links -->
        <div class="menu-bar">
          <ul class="menu-links">
            <li><a href="./index.html">Home </a>
                
            </li>
            <li><a href="./about-06.html"> About Us </a>
                 
            </li>
            <li><a href="#">Products<i class="fa fa-angle-down fa-indicator"></i></a>
              <!-- drop down multilevel  -->
              <ul class="drop-down-multilevel left-side">

                <li><a href="./shop-home-07.html">Woven </a>
                  
                </li>
                <li><a href="./shop-home-06.html">Knit </a>
                  
                </li>   
                
            </ul>
            </li>
            
            <li><a href="#">Services <i class="fa fa-angle-down fa-indicator"></i></a>
                <!-- drop down multilevel  -->
                <ul class="drop-down-multilevel left-side">

                  <li><a href="./service-03.html">Sourcing </a>
                    
                  </li>
                  <li><a href="./service-02.html">Quality Assurance </a>
                    
                  </li>
                  <li><a href="./service-05.html">Merchandising</a>
                    
                  </li>   
                  
              </ul>
            </li>
            <li><a href="./service-04.html">Strengths</a>
                
            </li>
            <li><a href="./about-03.html">Our Team</a>
                
            </li>
            <li><a href="./careers.html"> Careers</a>
              
            </li>
            
            <li><a href="./contact-03.html"> Contact Us <i class="fa fa-angle-down fa-indicator"></i></a>
              <!-- drop down multilevel  -->
              <ul class="drop-down-multilevel left-side">

                <li><a href="./contact-03.html">Sri Lanka </a>
                  
                </li>
                <li><a href="./contact-02.html">Bangladesh </a>
                  
                </li>   
                </ul>
              </li>
          </ul>
        </div>
       </div>
      </div>
     </div>
    </section>
   </nav>
  <!-- menu end -->
 </div>
</header>

<!--=================================
 header -->
 
<!--=================================
page-title-->

<section class="page-title bg-overlay-black-60 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url(images/bg/30.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <div class="page-title-name">
          <h1>Merchandising</h1>
          <p>We Know The Secret Of Your Success</p>
        </div>
          <ul class="page-breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
            <li><a href="#">page</a> <i class="fa fa-angle-double-right"></i></li>
            <li><span>Merchandising</span> </li>
       </ul>
     </div>
   </div>
  </div>
</section>

<!--=================================
page-title -->


<!--=================================
 service-->

<section class="service white-bg page-section-ptb">
  <div class="container">
    <div class="row justify-content-center">
         <div class="col-lg-8">
            <div class="section-title text-center">
            <h6>We're Good At </h6>
            <h2 class="title-effect">Our Service</h2>
            <p>We'll do everything we can to make our next best project!</p>
          </div>
      </div>

    </div>

    <!--======================================-->
    <div class="service-3">
    <section class="page-section-ptb white-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-6 sm-mb-30">
            <p class="mb-20">
              At TMS (PVT) LTD, we recognize the critical role of an effective fabric merchandising process in delivering exceptional textile products to the market. With a strong emphasis on understanding market trends, client preferences, and product development expertise, we ensure a seamless and efficient fabric merchandising experience.
              </p>
            <p class="mb-20">
              Our dedicated team of merchandisers works closely with designers, suppliers, and manufacturers to drive the fabric merchandising process. Through collaborative efforts, we develop new fabric products or adapt existing ones to align with emerging market trends and client demands. By staying up-to-date with fashion forecasts, consumer preferences, and textile innovations, we ensure that our fabric selection is always on-trend and appealing to our customers.</p>
            <p class="mb-20">Costing and pricing play a crucial role in our merchandising process. We meticulously estimate production costs, considering fabric expenses, labor, transportation, and overheads. Our goal is to determine pricing strategies that are both competitive in the market and profitable for our clients.</p>
            <img class="img-fluid" src="images/about/01.jpg" alt="">
          </div>
          <div class="col-md-6">
            <img class="img-fluid" src="images/about/02.jpg" alt="">
            <p class="mt-20">Order management is a priority for us. Our experienced merchandisers handle order placement, tracking, and fulfillment processes, ensuring timely production and delivery of textile products. We proactively manage inventory levels, monitor production schedules, and collaborate closely with suppliers and logistics partners to ensure efficient operations. Client communication is at the heart of our merchandising process. We maintain regular and transparent communication with our clients, attentively listening to their requirements and providing timely updates on orders. Our goal is to build strong, collaborative relationships with our clients, fostering trust and satisfaction.</p>
            <p class="mt-20">To stay ahead of market demands, we conduct a comprehensive trend analysis. Our team performs market research, attends trade shows, and analyzes sales data to identify emerging trends and consumer preferences. By understanding market dynamics, we curate a diverse fabric selection that reflects the latest trends and meets the diverse needs of our valued clients.</p>
            <p class="mt-20">TMS (PVT) LTD is a reliable and sustainable fabric sourcing company offering a comprehensive portfolio of materials, finishes, colors, and textures to meet clients' diverse needs. With expertise in product development, cost management, order fulfillment, and trend analysis, partnering with TMS ensures a seamless fabric merchandising experience. Our commitment to quality and sustainability guarantees that clients receive high-quality textiles that adhere to industry standards, fulfilling their demands and expectations.</p>
          </div>
        </div>
      </div>
    </section>
    <!--==============================================-->      
  </div>
</section>

<!--=================================
 service-->

<!--=================================
 footer -->
 <footer class="footer page-section-pt black-bg">
  <div class="container">
   <div class="row">
       <div class="col-lg-2 col-sm-6 sm-mb-30">
       <div class="footer-useful-link footer-hedding">
         <h6 class="text-white mb-30 mt-10 text-uppercase">Navigation</h6>
         <ul>
           <li><a href="./index-06.html">Home</a></li>
           <li><a href="./about-06.html">About Us</a></li>
           <li><a href="./service-03.html">Services</a></li>
           <li><a href="./service-04.html">Strengths</a></li>
           <li><a href="./about-03.html">Our Team</a></li>
           <li><a href="./contact-03.html">Contact Us</a></li>
         </ul>
       </div>
     </div>
     <div class="col-lg-2 col-sm-6 sm-mb-30">
       <div class="footer-useful-link footer-hedding">
         <h6 class="text-white mb-30 mt-10 text-uppercase">Useful Link</h6>
         <ul>
           <li><a href="./privacy-policy.html">Privacy Policy</a></li>
           <li><a href="./terms-and-conditions.html">Terms & Conditions</a></li>
         </ul>
       </div>
     </div>
     <div class="col-lg-4 col-sm-6 xs-mb-30">
     <h6 class="text-white mb-30 mt-10 text-uppercase">Contact Us</h6>
     <ul class="addresss-info">
         <li><i class="fa fa-map-marker"></i> <p>Address: 17504 Carlton Cuevas Rd, Gulfport, MS, 39503</p> </li>
         <li><i class="fa fa-phone"></i> <a href="tel:7042791249"> <span>+(704) 279-1249 </span> </a> </li>
         <li><i class="fa fa-envelope-o"></i>Email: letstalk@webster.com</li>
       </ul>
     </div>
     <div class="col-lg-4 col-sm-6">
       <h6 class="text-white mb-30 mt-10 text-uppercase">Subscribe to Our Newsletter</h6>
         <p class="mb-30">Sign Up to our Newsletter to get the latest news and offers.</p>
          <div class="footer-Newsletter">
           <div id="mc_embed_signup_scroll">
             <form action="php/mailchimp-action.php" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
              <div id="msg"> </div>
               <div id="mc_embed_signup_scroll_2">
                 <input id="mce-EMAIL" class="form-control" type="text" placeholder="Email address" name="email1" value="">
               </div>
               <div id="mce-responses" class="clear">
                 <div class="response" id="mce-error-response" style="display:none"></div>
                 <div class="response" id="mce-success-response" style="display:none"></div>
                 </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                 <div style="position: absolute; left: -5000px;" aria-hidden="true">
                     <input type="text" name="b_b7ef45306f8b17781aa5ae58a_6b09f39a55" tabindex="-1" value="">
                 </div>
                 <div class="clear">
                   <button type="submit" name="submitbtn" id="mc-embedded-subscribe" class="button button-border mt-20 form-button">  Get notified </button>
                 </div>
               </form>
             </div>
             </div>
          </div>
        </div>
       <div class="footer-widget mt-20">
         <div class="row">
           <div class="col-lg-6 col-md-6">
            <p class="mt-15"> &copy;Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="#"> Webster </a> All Rights Reserved </p>
           </div>
           <div class="col-lg-6 col-md-6 text-start text-md-end">
             <div class="social-icons color-hover mt-10">
              <ul>
               <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i> </a></li>
               <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i> </a></li>
              </ul>
            </div>
           </div>
         </div>
       </div>
   </div>
 </footer>
 
 

<!--=================================
 footer -->

 </div>

<div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-angle-up"></i> <span>TOP</span></a></div>

 <!--=================================
 jquery -->

<!-- jquery -->
<script src="js/jquery-3.6.0.min.js"></script>

<!-- plugins-jquery -->
<script src="js/plugins-jquery.js"></script>

<!-- plugin_path -->
<script>var plugin_path = 'js/';</script>

<!-- custom -->
<script src="js/custom.js"></script>



</body>
</html>