<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Webster - Responsive Multi-purpose HTML5 Template" />
<meta name="author" content="potenzaglobalsolutions.com" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>Webster - Responsive Multi-purpose HTML5 Template</title>

<!-- Favicon -->
<link rel="shortcut icon" href="images/favicon.ico" />

<!-- font -->
<link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900">
<link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">

<!-- Plugins -->
<link rel="stylesheet" type="text/css" href="css/plugins-css.css" />

<!-- revoluation -->
<link rel="stylesheet" type="text/css" href="revolution/css/settings.css" media="screen" />

<!-- Typography -->
<link rel="stylesheet" type="text/css" href="css/typography.css" />

<!-- Shortcodes -->
<link rel="stylesheet" type="text/css" href="css/shortcodes/shortcodes.css" />

<!-- Style -->
<link rel="stylesheet" type="text/css" href="css/style.css" />

<!-- barber -->
<link rel="stylesheet" type="text/css" href="demo-categories/barber/css/barber.css" />

<!-- Responsive -->
<link rel="stylesheet" type="text/css" href="css/responsive.css" />

<!-- Style customizer -->
<link rel="stylesheet" type="text/css" href="css/skins/skin-gold.css" data-style="styles"/>

<!--Theme color-->
<link rel="stylesheet" type="text/css" href="css/skins/skin-blue.css" />

</head>

<body>

<div class="wrapper">

<!--=================================
 preloader -->

<div id="pre-loader">
    <img src="images/pre-loader/loader-05.svg" alt="">
</div>

<!--=================================
 preloader -->

<!--=================================
 header -->

<header id="header" class="header light logo-center barber-header">

<!--=================================
 mega menu -->

<div class="menu">
  <!-- menu start -->
   <nav id="menu" class="mega-menu">
    <!-- menu list items container -->
    <section class="menu-list-items">
     <div class="container">
      <div class="row">
       <div class="col-lg-12 col-md-8 position-relative">
        <!-- menu logo -->
         <ul class="menu-logo">
            <li class="topbar-social">
              <div class="social-icons color-hover clearfix text-md-start">
                <ul>
                  <li class="social-facebook"><a href="#"><span class="ti-facebook"></span></a></li>
                  <li class="social-instagram"><a href="#"><span class="ti-instagram"></span></a></li>
                  <li class="social-google"><a href="#"><span class="fa fa-google"></span></a></li>
                  <li class="social-twitter"><a href="#"><span class="ti-twitter"></span></a></li>
                </ul>
              </div>
            </li>
            <li>
                <a href="index-barber.html"><img  src="demo-categories/barber/images/tms.jpg" alt="logo"> </a>
            </li>
            <li class="topbar-telephone">
              <div class="telephone">
                <p class="uppercase mb-0">telephone</p>
                <p class="theme-color">+(704) 279-1249</p>
              </div>
            </li>
        </ul>
        <!-- menu links -->
        <div class="menu-bar">
          <ul class="menu-links">
            <li><a href="./index.html">Home </a>
                
            </li>
            <li><a href="./about-06.html"> About Us </a>
                 
            </li>
            <li><a href="#">Products<i class="fa fa-angle-down fa-indicator"></i></a>
              <!-- drop down multilevel  -->
              <ul class="drop-down-multilevel left-side">

                <li><a href="./shop-home-07.html">Woven </a>
                  
                </li>
                <li><a href="./shop-home-06.html">Knit </a>
                  
                </li>   
                
            </ul>
            </li>
            
            <li><a href="#">Services <i class="fa fa-angle-down fa-indicator"></i></a>
                <!-- drop down multilevel  -->
                <ul class="drop-down-multilevel left-side">

                  <li><a href="./service-03.html">Sourcing </a>
                    
                  </li>
                  <li><a href="./service-02.html">Quality Assurance </a>
                    
                  </li>
                  <li><a href="./service-05.html">Merchandising</a>
                    
                  </li>   
                  
              </ul>
            </li>
            <li><a href="./service-04.html">Strengths</a>
                
            </li>
            <li><a href="./about-03.html">Our Team</a>
                
            </li>
            <li><a href="./careers.html"> Careers</a>
              
            </li>
            
            <li><a href="./contact-03.html"> Contact Us <i class="fa fa-angle-down fa-indicator"></i></a>
              <!-- drop down multilevel  -->
              <ul class="drop-down-multilevel left-side">

                <li><a href="./contact-03.html">Sri Lanka </a>
                  
                </li>
                <li><a href="./contact-02.html">Bangladesh </a>
                  
                </li>   
                </ul>
              </li>
          </ul>
        </div>
       </div>
      </div>
     </div>
    </section>
   </nav>
  <!-- menu end -->
 </div>
</header>

<!--=================================
 header -->

<!--=================================
page-title-->

<section class="page-title bg-overlay-black-60 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url(images/bg/Jknit1.png);">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
       <div class="page-title-name">
           <h1>Knit Fabric</h1>
          <p>Discover the Artistry of Knit Fabrics</p>
        </div>
          <ul class="page-breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
            <li><a href="#">Products</a> <i class="fa fa-angle-double-right"></i></li>
            <li><span>Knit</span> </li>
       </ul>
      </div>
     </div>
  </div>
</section>

<!--=================================
page-title -->

<!--=================================
about -->

<section class="white-bg page-section-ptb">
  <div class="container">
     <div class="row justify-content-center">
       <div class="col-lg-8">
           <div class="text-center">
            <h2 class="mb-30">About Knit Fabric</h2>
            <p>Knit fabric is a type of textile material created by interlocking loops of yarn, forming a series of interconnected rows. Unlike woven fabric, which is created by interlacing yarns at right angles, knit fabric is made by continuously looping yarns together. This looping creates a flexible and stretchable fabric with a unique texture. Knit fabrics offer excellent elasticity, allowing them to stretch and recover their shape. They are comfortable to wear and provide a close fit to the body. Knit fabrics can be made from various types of yarns, such as cotton, wool, polyester, or blends, resulting in different characteristics and properties. They are commonly used in garments like sweaters, t-shirts, socks, and activewear, as well as in other applications like blankets and upholstery. Knit fabrics are valued for their comfort, stretchability, and versatility in creating garments and textiles.
            </p>
          </div>
        </div>
     </div>
     <div class="divider pt-20"></div>
  </div>
</section>

<!--=================================
about-->

<!--=================================
product -->

<section class="shop-07-product page-section-ptb">
   <div class="container">
    <div class="row justify-content-center">
     <div class="col-md-12">
         <div class="section-title text-center">
            <h2 class="title-effect">Knit Fabric Types</h2>
            <p><h5>Exploring Common Knit Fabric Types</h5></p>
            </div>
       </div>
    </div>
      <div class="row">
      <div class="col-md-4 col-sm-4 xs-mb-30">
        <div class="product mt-80">
             <div class="product-image">
                 <img class="img-fluid mx-auto" src="images/shop/JerceyKnit.jpg" alt="">
              </div>
              <div class="product-des">
                 <div class="product-title">
                   <a class="text-black"><h5>Jersey Knit</h5></a>
                   <p>Jersey is a lightweight, single-knit fabric with a smooth and flat surface. It has a good amount of stretch and is commonly used for T-shirts, dresses, and casual garments.</p>
                 </div>
            </div>
         </div>
      </div>
      <div class="col-md-4 col-sm-4 xs-mb-30">
        <div class="product mt-40">
             <div class="product-image">
                 <img class="img-fluid mx-auto" src="images/shop/InterlockKnit.jpg" alt="">
              </div>
              <div class="product-des">
                 <div class="product-title">
                   <a class="text-black"><h5>Interlock Knit</h5></a>
                   <p>Interlock knit is a double-knit fabric with two layers of stitches that create a smooth and stable fabric. It has a higher degree of stretch and recovery compared to jersey knit, making it suitable for fitted garments.
                  </p>
                 </div>
            </div>
         </div>
      </div>
      <div class="col-md-4 col-sm-4 xs-mb-30">
        <div class="product">
             <div class="product-image">
                 <img class="img-fluid mx-auto" src="images/shop/RibKnit.jpg" alt="">
              </div>
              <div class="product-des">
                 <div class="product-title">
                   <a class="text-black"><h5>Rib Knit</h5></a>
                   <p>Rib knit fabrics have raised vertical lines or ribs alternating with recessed rows. They are often used for cuffs, collars, and waistbands, as the ribbing provides elasticity and a snug fit.</p>
                 </div>
            </div>
         </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="product mt-80">
             <div class="product-image">
                 <img class="img-fluid mx-auto" src="images/shop/FrenchTerry1.jpg" alt="">
              </div>
              <div class="product-des">
                 <div class="product-title">
                   <a class="text-black"><h5>French Terry</h5></a>
                   <p>French Terry is a knit fabric with loops on one side and a smooth surface on the other. It is soft, absorbent, and comfortable, making it ideal for sweatshirts, loungewear, and athleisure garments.</p>
                 </div>
            </div>
         </div>
      </div>
      <div class="col-md-4 col-sm-4 xs-mb-30">
        <div class="product mt-40">
             <div class="product-image">
                 <img class="img-fluid mx-auto" src="images/shop/PonteKnit.jpeg" alt="">
              </div>
              <div class="product-des">
                 <div class="product-title">
                   <a class="text-black"><h5>Ponte Knit</h5></a>
                   <p>Ponte knit is a heavier and more stable double-knit fabric with a firm texture. It has a good amount of stretch and recovery and is often used for structured garments like skirts, pants, and jackets.
                  </p>
                 </div>
            </div>
         </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="product">
             <div class="product-image">
                 <img class="img-fluid mx-auto" src="images/shop/JacquardKnit.jpg" alt="">
              </div>
              <div class="product-des">
                 <div class="product-title">
                   <a class="text-black"><h5>Jacquard Knit</h5></a>
                   <p>Jacquard knit fabrics feature intricate patterns or designs that are knitted into the fabric using a jacquard mechanism. They can range from simple patterns to complex motifs and are often used for stylish sweaters and dresses.</p>
                 </div>
            </div>
         </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 xs-mb-30">
        <div class="product mt-80">
             <div class="product-image">
                 <img class="img-fluid mx-auto" src="images/shop/BrushBack.jpg" alt="">
              </div>
              <div class="product-des">
                 <div class="product-title">
                   <a class="text-black"><h5>Brush Back</h5></a>
                   <p>Brush back in knit refers to a type of fabric where one side is brushed to create a soft, fuzzy texture, while the other side remains smooth. It is often used in sweatshirts and activewear for its comfortable and cozy feel against the skin.</p>
                 </div>
            </div>
         </div>
      </div>
      </div>
  </div>
</section>

<!--=================================
product -->

<!--=================================
New Collection -->

<section class="shop-06-product page-section-pb">
   <div class="container">
    <div class="row">
     <div class="col-lg-12 col-md-12">
         <div class="section-title text-center">
            <h2 class="title-effect">Garments</h2>
          </div>
       </div>
    </div>
      <div class="row">
      <div class="col-md-12">
        <div class="owl-carousel" data-nav-dots="false" data-nav-arrow="true" data-items="4" data-md-items="4" data-sm-items="3" data-xs-items="2" data-xx-items="1" data-space="20">
         <div class="item">
         <div class="product text-center">
             <div class="product-image">
                 <img class="img-fluid mx-auto" src="images/shop/01.jpg" alt="">
              </div>
              <div class="product-des">
                 <div class="product-title">
                   <a class="text-black">Product name</a>
                 </div>
            </div>
         </div>
       </div>
        <div class="item">
         <div class="product text-center">
             <div class="product-image">
                 <img class="img-fluid mx-auto" src="images/shop/03.jpg" alt="">
              </div>
              <div class="product-des">
                 <div class="product-title">
                   <a class="text-black">Product name</a>
                 </div>
            </div>
         </div>
        </div>
        <div class="item">
          <div class="product text-center">
              <div class="product-image">
                  <img class="img-fluid mx-auto" src="images/shop/02.jpg" alt="">
               </div>
               <div class="product-des">
                  <div class="product-title">
                    <a class="text-black">Product name</a>
                  </div>
             </div>
          </div>
         </div>
        <div class="item">
         <div class="product text-center">
             <div class="product-image">
                 <img class="img-fluid mx-auto" src="images/shop/04.jpg" alt="">
              </div>
              <div class="product-des">
                 <div class="product-title">
                   <a class="text-black">Product name</a>
                 </div>
             </div>
            </div>
         </div>
         <div class="item">
         <div class="product text-center">
             <div class="product-image">
                 <img class="img-fluid mx-auto" src="images/shop/05.jpg" alt="">
              </div>
              <div class="product-des">
                 <div class="product-title">
                   <a class="text-black">Product name</a>
                 </div>
             </div>
            </div>
         </div>
        </div>
       </div>
      </div>
     </div>
</section>

<!--=================================
New Collection -->

<!--=================================
 footer -->

 <footer class="footer page-section-pt black-bg">
  <div class="container">
   <div class="row">
       <div class="col-lg-2 col-sm-6 sm-mb-30">
       <div class="footer-useful-link footer-hedding">
         <h6 class="text-white mb-30 mt-10 text-uppercase">Navigation</h6>
         <ul>
           <li><a href="./index-06.html">Home</a></li>
           <li><a href="./about-06.html">About Us</a></li>
           <li><a href="./service-03.html">Services</a></li>
           <li><a href="./service-04.html">Strengths</a></li>
           <li><a href="./about-03.html">Our Team</a></li>
           <li><a href="./contact-03.html">Contact Us</a></li>
         </ul>
       </div>
     </div>
     <div class="col-lg-2 col-sm-6 sm-mb-30">
       <div class="footer-useful-link footer-hedding">
         <h6 class="text-white mb-30 mt-10 text-uppercase">Useful Link</h6>
         <ul>
           <li><a href="./privacy-policy.html">Privacy Policy</a></li>
           <li><a href="./terms-and-conditions.html">Terms & Conditions</a></li>
         </ul>
       </div>
     </div>
     <div class="col-lg-4 col-sm-6 xs-mb-30">
     <h6 class="text-white mb-30 mt-10 text-uppercase">Contact Us</h6>
     <ul class="addresss-info">
         <li><i class="fa fa-map-marker"></i> <p>Address: 17504 Carlton Cuevas Rd, Gulfport, MS, 39503</p> </li>
         <li><i class="fa fa-phone"></i> <a href="tel:7042791249"> <span>+(704) 279-1249 </span> </a> </li>
         <li><i class="fa fa-envelope-o"></i>Email: letstalk@webster.com</li>
       </ul>
     </div>
     <div class="col-lg-4 col-sm-6">
       <h6 class="text-white mb-30 mt-10 text-uppercase">Subscribe to Our Newsletter</h6>
         <p class="mb-30">Sign Up to our Newsletter to get the latest news and offers.</p>
          <div class="footer-Newsletter">
           <div id="mc_embed_signup_scroll">
             <form action="php/mailchimp-action.php" method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
              <div id="msg"> </div>
               <div id="mc_embed_signup_scroll_2">
                 <input id="mce-EMAIL" class="form-control" type="text" placeholder="Email address" name="email1" value="">
               </div>
               <div id="mce-responses" class="clear">
                 <div class="response" id="mce-error-response" style="display:none"></div>
                 <div class="response" id="mce-success-response" style="display:none"></div>
                 </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                 <div style="position: absolute; left: -5000px;" aria-hidden="true">
                     <input type="text" name="b_b7ef45306f8b17781aa5ae58a_6b09f39a55" tabindex="-1" value="">
                 </div>
                 <div class="clear">
                   <button type="submit" name="submitbtn" id="mc-embedded-subscribe" class="button button-border mt-20 form-button">  Get notified </button>
                 </div>
               </form>
             </div>
             </div>
          </div>
        </div>
       <div class="footer-widget mt-20">
         <div class="row">
           <div class="col-lg-6 col-md-6">
            <p class="mt-15"> &copy;Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="#"> Webster </a> All Rights Reserved </p>
           </div>
           <div class="col-lg-6 col-md-6 text-start text-md-end">
             <div class="social-icons color-hover mt-10">
              <ul>
               <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i> </a></li>
               <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i> </a></li>
              </ul>
            </div>
           </div>
         </div>
       </div>
   </div>
 </footer>

<!--=================================
 footer -->

</div>

<div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-angle-up"></i> <span>TOP</span></a></div>

<!--=================================
 jquery -->

<!-- jquery -->
<script src="js/jquery-3.6.0.min.js"></script>

<!-- plugins-jquery -->
<script src="js/plugins-jquery.js"></script>

<!-- plugin_path -->
<script>var plugin_path = 'js/';</script>

<!-- custom -->
<script src="js/custom.js"></script>



</body>
</html>
